<%- include('header'); %>
    <h1><%- type.name %></h1>
    <p><%=type.description%></p>
    <h3>Teas in that type:</h3>
    <ul>
        <% teas.forEach(tea => { %>
            <li><a href=<%=tea.url%>><%=tea.name%></a></li>
        <% }) %>
        
    </ul>
    <div class="bottom">
        <form action="<%- type.id %>/update" method="get">
            <input type="submit" value="Update type">
        </form>
        <form action="<%- type.id %>/delete" method="get">
            <input type="submit" value="Delete type">
        </form>
    </div>
<%- include('footer'); %>